+++
title = "CKAD 2021"
linkTitle = "CKAD 2021"

+++

{{< blocks/cover title="CKAD 2021" image_anchor="top" height="min" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Acessar<i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<p class="lead mt-5">Uma odisseia Dev no espaço Kubernetes!</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
Saia do zero absoluto até chegar a ser um **Certified Kubernetes Application Developer ([CKAD](https://www.cncf.io/certification/ckad))**!
{{% /blocks/lead %}}

{{< blocks/section>}}
{{% blocks/feature icon="fab fa-instagram" title="Instagram?" url_text="Resumo dos capítulos" url="https://twitter.com/marcelo_devsres" %}}
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Achou um erro?" url_text="Abra uma issue" url="https://github.com/devsres-com/ckad/issues" %}}
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Twitter?" url_text="Siga o autor aqui" url="https://twitter.com/marcelo_devsres" %}}

{{% /blocks/feature %}}

{{< /blocks/section >}}
