---
title: Sobre o CKAD 2021
linkTitle: Sobre
menu:
  main:
    weight: 10

---


{{< blocks/cover title="CKAD 2021" image_anchor="bottom" height="min" >}}

<p class="lead mt-5">Sobre a odisseia!
</p>

{{< /blocks/cover >}}

{{% blocks/lead %}}

Após anos postergando, o projeto **CKAD 2021** foi a estratégia adotada para elaborar um treinamento em português que seja capaz de conduzir qualquer pessoa do zero absoluto à fluência em **Kubernetes**, deixando-a apta a se submeter ao exame para se tornar um **Certified Kubernetes Application Developer**.

Não sei como você chegou aqui, mas espero que goste!
{{% /blocks/lead %}}

{{< blocks/section>}}
{{% blocks/feature icon="fab fa-instagram" title="Instagram?" url_text="Resumo dos capítulos" url="https://twitter.com/marcelo_devsres" %}}
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Achou um erro?" url_text="Abra uma issue" url="https://github.com/devsres-com/ckad/issues" %}}
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Twitter?" url_text="Siga o autor aqui" url="https://twitter.com/marcelo_devsres" %}}

{{% /blocks/feature %}}

{{< /blocks/section >}}